@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);












body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Montserrat', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Noto Sans', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Noto Sans', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Noto Sans', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Noto Sans', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #ff0400 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #ffef00 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #ff0400;
  border-color: #ff0400;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #b30300;
  border-color: #b30300;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b30300 !important;
  border-color: #b30300 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #ffef00;
  border-color: #ffef00;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #b3a700;
  border-color: #b3a700;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #b3a700 !important;
  border-color: #b3a700 !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #990200;
  color: #990200;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ff0400;
  border-color: #ff0400;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff0400 !important;
  border-color: #ff0400 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #998f00;
  color: #998f00;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #ffef00;
  border-color: #ffef00;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffef00 !important;
  border-color: #ffef00 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #ff0400 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #ffef00 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #ffef00;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #ff0400;
}
.btn-social:hover {
  background: #ff0400;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #ff0400;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #ff0400;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ff0400;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ff0400;
}
.lead a,
.lead a:hover {
  color: #ff0400;
}
.lead blockquote {
  border-color: #ff0400;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffcdcc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fffccc;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #ff0400;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#header3-28 .mbr-section-title,
#header3-28 .mbr-section-subtitle {
  text-align: center;
}
#header3-28 H3 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 30px;
  color: #ffffff;
}
#header3-28 P {
  font-size: 25px;
  font-family: 'Noto Sans', sans-serif;
}
#header3-29 .mbr-section-title,
#header3-29 .mbr-section-subtitle {
  text-align: center;
}
#header3-29 H3 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 30px;
  color: #ffffff;
}
#header3-29 P {
  font-size: 25px;
  font-family: 'Noto Sans', sans-serif;
}
#header2-1a .mbr-section-title SPAN {
  text-align: right;
  color: #000000;
  font-family: 'Lora', serif;
  font-size: 100px;
}
#header2-1a .mbr-section-text {
  color: #000000;
}
#header2-1a .mbr-section-title {
  text-align: center;
}
#header2-1a .mbr-section-text P {
  font-size: 20px;
}
#header3-1v .mbr-section-title,
#header3-1v .mbr-section-subtitle {
  text-align: center;
}
#header3-1v H3 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
  color: #ffffff;
  text-align: right;
}
#contacts1-14 STRONG {
  color: #f2ff00;
}
#contacts1-14 P {
  font-family: 'Lora', serif;
}
#footer1-17 P {
  color: #ffffff;
  font-size: 10px;
}
#menu-k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-k .navbar-caption {
  color: #ffffff;
  font-size: 8px;
  font-family: 'Roboto', sans-serif;
}
#menu-k .navbar-toggler {
  color: #ffe500;
}
#menu-k .link,
#menu-k .dropdown-item {
  color: #ffe500;
  font-family: 'Lora', serif;
}
#menu-k .link {
  font-size: 1.1rem;
}
#menu-k .dropdown-item,
#menu-k .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-k .link:hover,
#menu-k .dropdown-item:hover,
#menu-k .link:focus,
#menu-k .dropdown-item:focus {
  color: #ff0400;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-menu {
  background: #0000cc;
}
#menu-k .nav-dropdown-sm .link:focus,
#menu-k .nav-dropdown-sm .link:hover,
#menu-k .nav-dropdown-sm .dropdown-item:focus,
#menu-k .nav-dropdown-sm .dropdown-item:hover {
  background: #0000f0!important;
}
#menu-k .navbar,
#menu-k .nav-dropdown-sm,
#menu-k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-k .nav-dropdown-sm .dropdown-menu {
  background: #0000ff;
}
#menu-k .bg-color.transparent .link {
  color: #ffe500;
  transition: none;
}
#menu-k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-k .bg-color.transparent.opened .link:hover,
#menu-k .bg-color.transparent.opened .link:focus {
  color: #ff0400;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-item[aria-expanded="true"] {
  color: #ff0400!important;
}
#menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-k .close-icon::before,
#menu-k .close-icon::after {
  background-color: #ffe500;
}



#menu-k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-k .navbar-caption {
  color: #ffffff;
  font-size: 8px;
  font-family: 'Roboto', sans-serif;
}
#menu-k .navbar-toggler {
  color: #ffe500;
}
#menu-k .link,
#menu-k .dropdown-item {
  color: #ffe500;
  font-family: 'Lora', serif;
}
#menu-k .link {
  font-size: 1.1rem;
}
#menu-k .dropdown-item,
#menu-k .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-k .link:hover,
#menu-k .dropdown-item:hover,
#menu-k .link:focus,
#menu-k .dropdown-item:focus {
  color: #ff0400;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-menu {
  background: #0000cc;
}
#menu-k .nav-dropdown-sm .link:focus,
#menu-k .nav-dropdown-sm .link:hover,
#menu-k .nav-dropdown-sm .dropdown-item:focus,
#menu-k .nav-dropdown-sm .dropdown-item:hover {
  background: #0000f0!important;
}
#menu-k .navbar,
#menu-k .nav-dropdown-sm,
#menu-k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-k .nav-dropdown-sm .dropdown-menu {
  background: #0000ff;
}
#menu-k .bg-color.transparent .link {
  color: #ffe500;
  transition: none;
}
#menu-k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-k .bg-color.transparent.opened .link:hover,
#menu-k .bg-color.transparent.opened .link:focus {
  color: #ff0400;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-item[aria-expanded="true"] {
  color: #ff0400!important;
}
#menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-k .close-icon::before,
#menu-k .close-icon::after {
  background-color: #ffe500;
}
#contacts1-14 STRONG {
  color: #f2ff00;
}
#contacts1-14 P {
  font-family: 'Lora', serif;
}
#footer1-17 P {
  color: #ffffff;
  font-size: 10px;
}



#contacts1-14 STRONG {
  color: #f2ff00;
}
#contacts1-14 P {
  font-family: 'Lora', serif;
}
#footer1-17 P {
  color: #ffffff;
  font-size: 10px;
}
#menu-k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-k .navbar-caption {
  color: #ffffff;
  font-size: 8px;
  font-family: 'Roboto', sans-serif;
}
#menu-k .navbar-toggler {
  color: #ffe500;
}
#menu-k .link,
#menu-k .dropdown-item {
  color: #ffe500;
  font-family: 'Lora', serif;
}
#menu-k .link {
  font-size: 1.1rem;
}
#menu-k .dropdown-item,
#menu-k .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-k .link:hover,
#menu-k .dropdown-item:hover,
#menu-k .link:focus,
#menu-k .dropdown-item:focus {
  color: #ff0400;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-menu {
  background: #0000cc;
}
#menu-k .nav-dropdown-sm .link:focus,
#menu-k .nav-dropdown-sm .link:hover,
#menu-k .nav-dropdown-sm .dropdown-item:focus,
#menu-k .nav-dropdown-sm .dropdown-item:hover {
  background: #0000f0!important;
}
#menu-k .navbar,
#menu-k .nav-dropdown-sm,
#menu-k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-k .nav-dropdown-sm .dropdown-menu {
  background: #0000ff;
}
#menu-k .bg-color.transparent .link {
  color: #ffe500;
  transition: none;
}
#menu-k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-k .bg-color.transparent.opened .link:hover,
#menu-k .bg-color.transparent.opened .link:focus {
  color: #ff0400;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-item[aria-expanded="true"] {
  color: #ff0400!important;
}
#menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-k .close-icon::before,
#menu-k .close-icon::after {
  background-color: #ffe500;
}



#menu-1f .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1f .navbar-caption {
  color: #ffffff;
  font-size: 8px;
  font-family: 'Roboto', sans-serif;
}
#menu-1f .navbar-toggler {
  color: #ffe500;
}
#menu-1f .link,
#menu-1f .dropdown-item {
  color: #ffe500;
  font-family: 'Lora', serif;
}
#menu-1f .link {
  font-size: 1.1rem;
}
#menu-1f .dropdown-item,
#menu-1f .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-1f .link:hover,
#menu-1f .dropdown-item:hover,
#menu-1f .link:focus,
#menu-1f .dropdown-item:focus {
  color: #ff0400;
}
#menu-1f .link[aria-expanded="true"],
#menu-1f .dropdown-menu {
  background: #0000cc;
}
#menu-1f .nav-dropdown-sm .link:focus,
#menu-1f .nav-dropdown-sm .link:hover,
#menu-1f .nav-dropdown-sm .dropdown-item:focus,
#menu-1f .nav-dropdown-sm .dropdown-item:hover {
  background: #0000f0!important;
}
#menu-1f .navbar,
#menu-1f .nav-dropdown-sm,
#menu-1f .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1f .nav-dropdown-sm .dropdown-menu {
  background: #0000ff;
}
#menu-1f .bg-color.transparent .link {
  color: #ffe500;
  transition: none;
}
#menu-1f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1f .bg-color.transparent.opened .link:hover,
#menu-1f .bg-color.transparent.opened .link:focus {
  color: #ff0400;
}
#menu-1f .link[aria-expanded="true"],
#menu-1f .dropdown-item[aria-expanded="true"] {
  color: #ff0400!important;
}
#menu-1f.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1f .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1f .close-icon::before,
#menu-1f .close-icon::after {
  background-color: #ffe500;
}
#contacts1-1g STRONG {
  color: #f2ff00;
}
#contacts1-1g P {
  font-family: 'Lora', serif;
}
#footer1-1h P {
  color: #ffffff;
  font-size: 10px;
}





#header3-1q .mbr-section-title,
#header3-1q .mbr-section-subtitle {
  text-align: center;
}
#header3-1q H3 {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 60px;
}
#content7-1r H1 {
  font-family: 'Montserrat', sans-serif;
  color: #0006ff;
}
#content7-1r DIV {
  font-size: 15px;
}
#contacts1-1s STRONG {
  color: #f2ff00;
}
#contacts1-1s P {
  font-family: 'Lora', serif;
}
#footer1-1t P {
  color: #ffffff;
  font-size: 10px;
}
#menu-1u .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1u .navbar-caption {
  color: #ffffff;
  font-size: 8px;
  font-family: 'Roboto', sans-serif;
}
#menu-1u .navbar-toggler {
  color: #ffe500;
}
#menu-1u .link,
#menu-1u .dropdown-item {
  color: #ffe500;
  font-family: 'Lora', serif;
}
#menu-1u .link {
  font-size: 1.1rem;
}
#menu-1u .dropdown-item,
#menu-1u .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-1u .link:hover,
#menu-1u .dropdown-item:hover,
#menu-1u .link:focus,
#menu-1u .dropdown-item:focus {
  color: #ff0400;
}
#menu-1u .link[aria-expanded="true"],
#menu-1u .dropdown-menu {
  background: #0005cc;
}
#menu-1u .nav-dropdown-sm .link:focus,
#menu-1u .nav-dropdown-sm .link:hover,
#menu-1u .nav-dropdown-sm .dropdown-item:focus,
#menu-1u .nav-dropdown-sm .dropdown-item:hover {
  background: #0006f0!important;
}
#menu-1u .navbar,
#menu-1u .nav-dropdown-sm,
#menu-1u .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1u .nav-dropdown-sm .dropdown-menu {
  background: #0006ff;
}
#menu-1u .bg-color.transparent .link {
  color: #ffe500;
  transition: none;
}
#menu-1u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1u .bg-color.transparent.opened .link:hover,
#menu-1u .bg-color.transparent.opened .link:focus {
  color: #ff0400;
}
#menu-1u .link[aria-expanded="true"],
#menu-1u .dropdown-item[aria-expanded="true"] {
  color: #ff0400!important;
}
#menu-1u.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1u .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1u .close-icon::before,
#menu-1u .close-icon::after {
  background-color: #ffe500;
}



#header5-25 .mbr-section-title {
  color: #0800ff;
  text-align: center;
}
#header5-25 .mbr-section-lead {
  color: #0800ff;
  text-align: left;
}
#contacts1-1z STRONG {
  color: #f2ff00;
}
#contacts1-1z P {
  font-family: 'Lora', serif;
}
#footer1-20 P {
  color: #ffffff;
  font-size: 10px;
}
#menu-21 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-21 .navbar-caption {
  color: #ffffff;
  font-size: 8px;
  font-family: 'Roboto', sans-serif;
}
#menu-21 .navbar-toggler {
  color: #ffe500;
}
#menu-21 .link,
#menu-21 .dropdown-item {
  color: #ffe500;
  font-family: 'Lora', serif;
}
#menu-21 .link {
  font-size: 1.1rem;
}
#menu-21 .dropdown-item,
#menu-21 .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-21 .link:hover,
#menu-21 .dropdown-item:hover,
#menu-21 .link:focus,
#menu-21 .dropdown-item:focus {
  color: #ff0400;
}
#menu-21 .link[aria-expanded="true"],
#menu-21 .dropdown-menu {
  background: #0000cc;
}
#menu-21 .nav-dropdown-sm .link:focus,
#menu-21 .nav-dropdown-sm .link:hover,
#menu-21 .nav-dropdown-sm .dropdown-item:focus,
#menu-21 .nav-dropdown-sm .dropdown-item:hover {
  background: #0000f0!important;
}
#menu-21 .navbar,
#menu-21 .nav-dropdown-sm,
#menu-21 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-21 .nav-dropdown-sm .dropdown-menu {
  background: #0000ff;
}
#menu-21 .bg-color.transparent .link {
  color: #ffe500;
  transition: none;
}
#menu-21 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-21 .bg-color.transparent.opened .link:hover,
#menu-21 .bg-color.transparent.opened .link:focus {
  color: #ff0400;
}
#menu-21 .link[aria-expanded="true"],
#menu-21 .dropdown-item[aria-expanded="true"] {
  color: #ff0400!important;
}
#menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-21 .close-icon::before,
#menu-21 .close-icon::after {
  background-color: #ffe500;
}
